---
import { marked } from 'marked';
import {getEntryBySlug} from "astro:content";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import bio from "../lib/config/bio.json";
import DynamicIcon from "../layouts/helpers/DynamicIcon";
interface Terms {
  title: string;
  description: string;
  meta_title: string;
  image: string;
}


const { post } = Astro.props;

const terms = await getEntryBySlug("terms", "index");

const { title, meta_title, description, image } = terms.data;

const content = marked.parse(terms.body);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>

  <h1 class="text-center">{title}</h1>

  <div class="container">
    <div class="flex flex-col lg:flex-row items-start pb-10">

      <article set:html={content} />
    </div>
  </div>
</Base>
