---
import { Image } from "@astrojs/image/components";
import config from "@/lib/config/config.json";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa/index.js";
import AnimatedCard from "@/helpers/AnimatedCard";

const {
  summary_length,
  privacy_folder,
}: { summary_length: number; privacy_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, date, author, categories, description } = data.data;
---
<AnimatedCard client:load>
<div class="bg-body dark:bg-darkmode-body">
  <h4 class="mb-3">
    <a href={`/${privacy_folder}/${data.slug}`}>
      {title}
    </a>
  </h4>
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <a href={`/authors/${slugify(author)}`}>
        <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
        {humanize(author)}
      </a>
    </li>
    <li class="mr-4 inline-block">
      <FaRegFolder className={"mr-2 -mt-1 inline-block"} />
      {
        categories.map((category: string, index: number) => (
          <a href={`/categories/${slugify(category)}`}>
            {humanize(category)}
            {index !== categories.length - 1 && ","}
          </a>
        ))
      }
    </li>
  </ul>
  <p class="mb-6">{plainify(description)}</p>
  <a
    class="btn btn-outline-primary btn-sm"
    href={`/${privacy_folder}/${data.slug}`}
  >
    read more
  </a>
</div>
</AnimatedCard>
